---
import Wrapper from './Wrapper.astro'
import SanityBlockContent from './SanityBlockContent.jsx'
import { getSanityImageUrl, formatBlogPostDate } from '../utils/helpers.js'

export interface Props {
  post: any;
}

const { post } = Astro.props;
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
---

<Wrapper>
<head>    
 <link
        rel="stylesheet"
        href={Astro.resolve("../assets/style/global.css")}
    >
    </head>
  <article class="flex justify-center">
  <div class="m-10">
      {post.mainImage && <img  class="w-1/2 rounded-lg " loading="lazy" src={getSanityImageUrl(post.mainImage).url()} />}
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
                {post.title}
              </h2>
      <time class=" text-xl font-semibold text-gray-900">{formatBlogPostDate(post.publishedAt)}</time>
      {post.author && <p class="text-xl font-semibold text-gray-900">By {post.author.name}</p>}
      <div class="font-semibold text-gray-900">
      <SanityBlockContent  blocks={post.bodyRaw} />
      </div>
  </div>
  </article>
</Wrapper>

<style>
  .post-content__article {
    padding: 1rem;
  }

  .post-main__img {
    width: 100%;
    height: auto;
  }
</style>

